@import "../../../sass/mixins";

/* -- Menu -- */
.menu {
  margin-top: 4rem;
  padding: 4rem 0;
  padding-top: calc(4rem + 1.8rem);
  font-family: sans-serif;

  @include size(100%, 50%);
  @include display-flex($fd: column, $g: 1.2rem);
  @include position(absolute, $b: 0, $z: 10);
}

.option > button {
  padding: 0.4rem 1.6rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  transition: letter-spacing 0.2s;
  text-shadow: 0 0 0.4rem var(--bgc-primary), 0 0 0.8rem var(--bgc-primary),
    0 0 1rem var(--bgc-primary);
  cursor: pointer;
}

.option > button:hover,
.option > button:focus-visible {
  font-weight: 600;
  letter-spacing: 0.4ch;
}
